.pragmatic_logo {
     font-family: 'Work Sans', sans-serif;
}

.pragmatic_footer_button{
    font-size: .5rem;
}

.pragmatic_footer{
    text-align:center;
    margin-top: 2rem;
}

.pragmatic_header{
    text-align : center;
    margin-bottom: 2rem 0;
}

.round_button {
    color: black;
    text-decoration: none;
    box-shadow: 0 0 3px black;
    border-radius: 20rem;
    padding: 0.3rem;
}

.round_button:hover{
    color: dimgrey;
}

.article_content{
    font-size: 1.1rem;
    text-align:left;
}

.article_image{
    border-radius: 2rem;
    width: 65%;
    box-shadow: 0 0 1rem grey;
}

.NNS_B{
    font-family: "NanumSquareB", cursive;
}

