{% extends 'base.html' %}

{% block content %}

  <div class="container text-center">

    <div class="my-5">
        <!--  게시글제목, 글쓴이, 작성일자    -->
      <h1 class="NNS_B"> {{ target_article.title }} </h1>
      <h4> {{ target_article.writer.profile.nickname }} </h4>
      <p> {{ target_article.created_at }} </p>
    </div>

    <hr>

    <div class="my-5">
        <!--   게시글 대표이미지, 글 내용     -->
      <img src="{{ target_article.image.url }}"
           class="article_image"
           alt="">
      <div class="my-5 article_content">
          {{ target_article.content | safe }}
      </div>

      {% if target_article.writer == user %}
      <div>
        <a  href="{%  url 'articleapp:update' pk=target_article.pk %}"
        class="btn btn-success rounded-pill px-5">
          Update
        </a>
        <a href="{% url 'articleapp:delete' pk=target_article.pk %}"
           class="btn btn-danger rounded-pill px-5">
          Delete
        </a>
      </div>
      {% endif %}
    </div>


    <hr>

    <div class="text-center my-4">
      <!--댓글 내용, 댓글 작성란-->
      {% for comment in target_article.comment.all %}
        {% include 'commentapp/detail.html' with comment=comment %}
      {% endfor %}

      {% include 'commentapp/create.html' with article=target_article %}
    </div>
  </div>

{% endblock %}